{% extends "layout.html"%} {%block content%}

<div class="content-section">
  <div class="row">
    <div class="col-md-8 ml-auto">
      <div class="row">
            <div class="col-md-8">
                  <div class="media-body">
                    <h2 class="account-heading">Announcements</h2><br>
                  </div>
            </div>
            <h4 class="account-second-heading">Here We will announce the changes to our app and the new features that will be coming in the future.</h4><br>
            <h4 class="account-second-heading"> <br>Hope You Enjoyed Using Our app !</h4>
      </div>
    </div>
  </div>
</div>
{% endblock content %}