{% extends "layout.html"%} {%block content%}

<div class="content-section">
  <div class="row">
    <div class="col-md-8 ml-auto">
      <div class="row">
            <div class="col-md-4">
              <img class="rounded-circle account-img my-border" src="{{ url_for('static', filename='/profile_pics/Laila_Ebrahim_SW_Engineer.jpg') }}">
            </div>
            <div class="col-md-8">
                  <div class="media-body">
                    <h2 class="account-heading">Laila Ebrahim</h2>
                      <h4 class="account-second-heading">Software Engineer</h4>
                      <h4 class="quote"> "I've not failed I've just found 1,000 ways that won't work." Thomas Edison</h4>
                    </div><br>

            </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-md-12 ml-auto">
      <div class="row">
    <div>
        <br><h6>About me:</h6>
        <p> I'm Laila Ebrahim a Senior Mechatronics Engineering Student with a strong focus on Software Engineering specially Back-end Development. I always work hard to acquire new skills, improve the skills I already have, and improve my mindset to always be a better version of myself.
        Also, I'm very passionate about voluntary work and helping other people aiming for a better world.</p>
        <br><h6>Contact me:</h6>
        <p>You can contact me through mail <a href="mailto:lailaebrahiem108@gmail.com">lailaebrahiem108@gmail.com</a> <br>
or you can send a message through <a href="https://www.linkedin.com/in/laila-ebrahim-574890241?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a><br> I would be so happy to connect with TechMinds and collaborate together in future projects.</p>
    </div>
                </div>
    </div>
  </div>
</div>

{% endblock content %}