{% extends "layout.html"%}
{%block content%}
    <article class="media content-section ">
       <div class="media-body">
            <div class="row">
                <div class="col-md-8 ml-auto">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="rounded-circle article-img my-border" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                        </div>
                        <div class="col-md-10 mr-auto mt-auto">
                            <div class="media-body">
                                <h3><a class="article-title" href="{{url_for('user_posts', username=post.author.username)}}">{{ post.author.username }}</a> </h3>
                                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d')}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-section mt-4">
                <h2 class="article-title mt-2">{{ post.title }}</h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
            {%if post.author == current_user%}
                <a href="{{ url_for('update_post', post_id=post.id) }}" class="btn btn-outline-info btn-margin my-border btn-text btn-light">Update</a>
                <button type="button" class="btn btn-outline-info btn-margin my-border btn-text btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
            {%endif%}        
        </div>
    </article>

<!-- Modal to create a pop up when the user press on delete button to make deleting a post happen on purpose-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Are You Sure You Want to Delete That Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn my-border btn-text" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn my-border btn-text btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}