{% extends "layout.html" %}
{% block content %}
<!--craete a div with the bootstrap style class content-section-->
<div class="content-section">
  <!--create a form element with method attribute post to be used when the form is submited and action attribute specify thw URL to send datat submited to the form to-->
  <form method="POST" action="">
    <!--using the hidden_tag method,
      the Flask-WTF library automatically generates a CSRF token and includes it in a hidden field in a form.
      When the form is submitted, the server checks the CSRF token to ensure that the request is legitimate
      and not a forgery If the CSRF token is missing or invalid, the server will reject the request.-->
    {{ form.hidden_tag() }}
    <!--<fieldset> and <legend> elements are used
    to group related form elements together and provide a caption/title for the group.-->
    <fieldset class="form-group">
      <legend class="border-bottom mb-4" large-font>Join Today</legend>
      
      <!--Create a div element that has class form-group to have th bootstrap css stle for thr fields of a form group -->  
      <div class="form-group ">
        <!--use form variable passed to template to call label method on username to create lable for that field and give the method class form-control-label to style it -->
        {{ form.username.label(class="form-control-label") }} 
        {% if form.username.errors %}
        <!--creates the username input field with the specified CSS classes.-->
        {{ form.username(class="form-control form-control-lg is-invalid") }}
        <!--if the input in invalid according to the field validators it diplay errors below the input field with style of css bootstrap class invalid-feedback-->
        <div class="invalid-feedback">
          {% for error in form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        <!--if the input is valid also create the username input field to exist in bith cases-->
        {% else %} {{ form.username(class="form-control form-control-lg my-border") }}
        {%endif %}
      </div>
     
      <!--Email Field -->
      <div class="form-group">
        {{ form.email.label(class="form-control-label") }} 
        {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.email(class="form-control form-control-lg my-border") }}
        {%endif %}
      </div>

      <!--Password Filed-->
      <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
        {% if form.password.errors %}
        {{ form.password(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.password(class="form-control form-control-lg my-border") }}
        {% endif %}
      </div>

      <!--Confirm Password Field-->
      <div class="form-group">
        {{ form.confirm_password.label(class="form-control-label") }}
        {% if form.confirm_password.errors %}
        {{ form.confirm_password(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.confirm_password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.confirm_password(class="form-control form-control-lg my-border") }}
        {% endif %}
      </div>

    </fieldset>

    <!--Submit button-->
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info  btn-margin my-border btn-text btn-light") }}
    </div>
  </form>
</div>

<div class="border-top pt-3">
  <small class="text-muted">
    Already Have An Account?
    <a class="ml-4 btn-text" href="{{ url_for('users.login') }}"> Sign In </a>
  </small>
</div>

{% endblock content %}
