{% extends "layout.html"%}
{%block content%}

  <form method="POST" action="">
    <div class="input-group">
      {{ form.Search(class="form-control my-border", placeholder="Search", aria_label="Search", aria_describedby="search-addon") }}
      {{ form.submit(class="btn  my-border", value="Search") }}
    </div>
    {% if form.Search.errors %}
      <div class="invalid-feedback">
        {% for error in form.Search.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}
  </form>

  {%if posts != [] and posts is not none%}
    {{ posts|pprint }}
    {%for post in posts%}
    <article class="media content-section ">
       <div class="media-body">
            <div class="row">
                <div class="col-md-8 ml-auto">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="rounded-circle article-img my-border" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                        </div>
                        <div class="col-md-10 mr-auto mt-auto">
                            <div class="media-body">
                                <h3><a class="article-title" href="{{url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a> </h3>
                                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d')}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="mt-4"><a class="article-title" href="{{url_for('posts.post', post_id=post.id)}}">{{ post.title }}</a></h2>
            {%if post.content|length > 500%}
                <p class="article-content truncated-text">{{ post.content | truncate(500, ' ... ') }} 
                    <a href="{{url_for('posts.post', post_id=post.id)}}" class="read-more btn-text">Continue reading</a>
                </p>
                
            {%else%}
                <p class="article-content">{{ post.content }}</p>
            {%endif%}        
        </div>
    </article>
  {% endfor %}

  {%elif posts == []%}
    <h1> SPONGEBOB </h1>

  {% endif %}

{% endblock content %}
